
#required by homeassistant
homeassistant~=2025.03
pip~=25.0

# async-retrying~=0.2
# colorlog~=6.8
# homeassistant~=2024.10
# pip~=24.2
# python-dateutil~=2.9
# numpy~=2.1
# mutagen~=1.47

#required by this integration
wavin_sentio_connect @ git+https://github.com/HairingX/wavin_sentio_connect.git

#to upgrade existing venv, run the follwing in the terminal (followed by 2 restarts of HA):
#          pip install --upgrade --force-reinstall -r requirements.txt